<%= form_with(model: @user, url: @user.new_record? ? administration_users_path : administration_user_path) do |form| %>
  <div class="mb-3">
    <%= form.label(:user_name, "Nombre de usuario", class: "form-label") %>
    <%= form.text_field(:user_name, class: "form-control", required: true) %>
  </div>
  <div class="mb-3">
    <%= form.label(:password, @user.new_record? ? "Contrase침a" : "Nueva contrase침a", class: "form-label")%>
    <%= form.password_field(:password, class: "form-control", required: true) %>
  </div>
  <div class="mb-3">
    <%= form.label(:password_confirmation, "Confirmaci칩n de contrase침a", class: "form-label") %>
    <%= form.password_field(:password_confirmation, class: "form-control", required: true) %>
  </div>
  <div class="text-end">
    <%= link_to('Volver', administration_users_path, class: 'btn btn-secondary') %>
    <%= form.submit('Guardar', class: 'btn btn-primary') %>
  </div>
<% end %>
