<div data-controller="image-modal">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto my-3">
        <h2>Mis proyectos</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @projects.each do |project| %>
        <div class="container">
          <article class="postcard dark blue">
            <div class="postcard__img_link">
              <% if project.project_image.attached? %>
                <% project_image = url_for(project.project_image) %>
                <img src="<%= project_image %>" class="postcard__img image-link" alt="Imagen del Proyecto" title="Ampliar imagen" data-bs-toggle="modal" data-bs-target="#projectImageModal" data-action="click->image-modal#load_image" data-project-image-url="<%= project_image %>">
              <% else %>
                <img src="<%= asset_path('placeholders/project_image_placeholder.png') %>" class="postcard__img">
              <% end %>
            </div>
            <div class="postcard__text">
              <h1 class="postcard__title blue"><%= project.project_name %></h1>
              <div class="postcard__subtitle small">
                <% project.technologies.each do |technology| %>
                  <%= image_tag(url_for(technology.technology_icon), title: technology.technology_name, alt: technology.technology_name, style: 'width: 2rem; height: 2rem;') %>
                <% end %>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt"><%= project.project_description %></div>
              <ul class="postcard__tagbox">
                <% if project.project_demo_url.present? %>
                  <li class="tag__item play blue">
                    <%= link_to(project.project_demo_url, title: 'Ver demostración') do %>
                      <i class="bi bi-globe-americas"></i>
                      <span>Demostración</span>
                    <% end %>
                  </li>
                <% end %>
                <% if project.project_repository_url.present? %>
                  <li class="tag__item play blue">
                    <%= link_to(project.project_repository_url, title: 'Ver repositorio') do %>
                      <i class="bi bi-code-slash"></i>
                      <span>Código</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>

  <div id="projectImageModal" class="modal fade" tabindex="-1" aria-labelledby="projectImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectImageModalLabel">Imagen del Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <a href="" data-image-modal-target="imageLink" target="_blank"><img src="" class="img-fluid" alt="Imagen del Proyecto" data-image-modal-target="imageContainer"></a>
        </div>
      </div>
    </div>
  </div>
</div>
