<h1>Contenido del mensaje</h1>

<h5 class="mb-3"><strong>Remitente:</strong> <%= @message.message_email %></h5>
<h5 class="mb-3"><strong>Asunto:</strong> <%= @message.message_subject %></h5>
<h5 class="mb-4"><strong>Perfil:</strong> <%= @message.profile.profile_name %></h5>

<h5><strong>Contenido:</strong></h5>
<textarea class="form-control" rows="<%= @message.message_content.lines.count + 1 %>" style="min-height: 200px;" readonly><%= @message.message_content %></textarea>
