<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto my-3">
      <h2>Contacto</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <%= form_with(model: @message, url: send_message_contact_index_path, method: :post) do |form| %>
        <div class="mb-3">
          <%= form.text_field(:message_email, class: "form-control", placeholder: "Correo", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.text_field(:message_subject, class: "form-control", placeholder: "Asunto", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.text_area(:message_content, class: "form-control", rows: 6, placeholder: "Escriba su mensaje", required: true) %>
        </div>
        <%= form.submit("Enviar", class: "btn btn-primary") %>
      <% end %>
    </div>

    <div class="col-12 col-md-4">
      <div class="contact-info mt-4">
        <p><i class="bi bi-telephone"></i> <%= @profile.profile_phone %></p>
        <p><i class="bi bi-envelope"></i> <%= mail_to(@profile.profile_email, style: "text-decoration: none") %></p>
        <h3>Visita mis redes:</h3>
        <% @profile.social_networks.each do |social_network| %>
          <a href="<%= social_network.social_network_url %>" title="<%= social_network.social_network_type %>"><i class="bi bi-<%= social_network.social_network_type %>" style="font-size: 1.5rem"></i></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
