<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto my-3">
      <h2>Contacto</h2>
    </div>
  </div>

  <% contact_info_present = @profile.profile_phone.present? || @profile.profile_email.present? %>

  <div class="row">
    <div class="col-12 <%= "#{contact_info_present ? 'col-md-8' : '' }" %> ">
      <%= form_with(model: @message, url: send_message_contact_index_path, method: :post) do |form| %>
        <div class="mb-3">
          <%= form.email_field(:message_email, class: "form-control", placeholder: "Correo", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.text_field(:message_subject, class: "form-control", placeholder: "Asunto", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.text_area(:message_content, class: "form-control", rows: 6, placeholder: "Escriba su mensaje", required: true) %>
        </div>
        <%= form.submit("Enviar", class: "btn btn-primary") %>
      <% end %>
    </div>
    <% if contact_info_present %>
      <div class="col-12 col-md-4">
        <div class="mt-4">
          <% if @profile.profile_phone.present? %>
            <p><i class="bi bi-telephone"></i> <%= @profile.profile_phone %></p>
          <% end %>
          <% if @profile.profile_email.present? %>
            <p><i class="bi bi-envelope"></i> <%= mail_to(@profile.profile_email, style: "text-decoration: none") %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
