<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto my-3">
      <h2>Contacto</h2>
    </div>
  </div>

  <% contact_info_present = @profile.profile_phone.present? || @profile.profile_email.present? %>

  <div class="row">
    <div class="col-12 <%= "#{contact_info_present ? 'col-md-8' : '' }" %> ">
      <%= form_with(model: @message, url: send_message_contact_index_path, method: :post) do |form| %>
        <div class="mb-3">
          <%= form.label(:message_email, "Correo", class: "form-label") %>
          <%= form.email_field(:message_email, class: "form-control", placeholder: "Su correo electrónico", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.label(:message_subject, "Asunto", class: "form-label") %>
          <%= form.text_field(:message_subject, class: "form-control", placeholder: "Asunto del mensaje", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.label(:message_content, "Mensaje", class: "form-label") %>
          <%= form.text_area(:message_content, class: "form-control", placeholder: "Escriba su mensaje", style: "min-height: 150px; max-height: 300px; field-sizing: content;", required: true) %>
        </div>
        <div class="mb-3">
          <%= form.label(:humanizer_answer, @message.humanizer_question) %>
          <%= form.text_field(:humanizer_answer, class: "form-control", placeholder: "Compruebe que es humano", required: true) %>
          <%= form.hidden_field(:humanizer_question_id) %>
        </div>
        <%= form.submit("Enviar", class: "btn btn-primary") %>
      <% end %>
    </div>
    <% if contact_info_present %>
      <div class="col-12 col-md-4">
        <div class="mt-4">
          <% if @profile.profile_phone.present? %>
            <p><i class="bi bi-telephone"></i> <%= @profile.profile_phone %></p>
          <% end %>
          <% if @profile.profile_email.present? %>
            <p><i class="bi bi-envelope"></i> <%= mail_to(@profile.profile_email, style: "text-decoration: none") %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
